@model Disk
@{
    string title = ViewBag.Action +  " Disk";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>
<!--Form to take new Data entries-->
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>

    <div class="form-group">
        <label asp-for="DiskName">Album Name</label>
        <input asp-for="DiskName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Artist">Artist</label>
        <input asp-for="Artist" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
    </div>
    <div>
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" class="form-control">
            <option value="">Select a Genre</option>
            @foreach (Genre g in ViewBag.Genre)
            {
                <option value="@g.GenreId">@g.Genre1</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="StatusId">Status</label>
        <select asp-for="StatusId" class="form-control">
            <option value="">Select a Status</option>
            @foreach (Status s in ViewBag.Status)
            {
                if (s.IsBorrowed == true)
                {
                    <option value="@s.StatusId">Borrowed</option>
                }
                else
                {
                    <option value="@s.StatusId">In Stock</option>
                }
            }
        </select>
    </div>
    <div>
        <label asp-for="DiskTypeId">Disk Type</label>
        <select asp-for="DiskTypeId" class="form-control">
            <option value="">Select the Disk Type</option>
            @foreach (DiskType t in ViewBag.DiskType)
            {
                <option value="@t.DiskTypeId">@t.Type</option>
            }
        </select>
    </div>
    <input type="hidden" asp-for="DiskId" />
    <br />
    <button type="submit" class="btn btn-secondary">@ViewBag.Action</button>
    <a asp-controller="Disk" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>